rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Actividades generales
    match /app_activities/{activityId} {
      allow read, write: if request.auth != null;
    }
    
    match /proyectistas/{proyectistaId} {
      allow read, write: if request.auth != null;
    }

    // Radar de Gmail (Público para permitir Webhooks sin sesión de usuario)
    match /mail_alerts/{alertId} {
      allow get, list, create, update, delete: if true;
    }

    match /notificaciones_obras/{notificationId} {
      allow get, list, create, update, delete: if true;
    }
    
    // Rutas de la Línea de Tiempo
    match /timeline_projects/{projectId} {
      allow read, write: if request.auth != null;
      
      match /milestones/{milestoneId} {
        allow read, write: if request.auth != null;
      }
    }
    
    match /timeline_categories/{categoryId} {
      allow read, write: if request.auth != null;
    }
  }
}
